pandas==3.0.3
numpy==2.4.6
scikit-learn==1.9.0
xgboost==3.2.0
shap==0.51.0
matplotlib==3.11.0
plotly==6.8.0
streamlit==1.58.0
ucimlrepo==0.0.7
joblib==1.5.3
notebook==7.6.0
ipykernel==7.3.0
nbformat==5.10.4
